{% extends 'head.html' %}
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>Blog</title>
        <style>
        h4{
                text-align: left;
                overflow: hidden; 
                text-overflow: ellipsis;
                white-space  : nowrap;
                width        : 500px; 
            }
        </style>
           {% endblock %}
       </head>
<body>
    {% block content %}
    <form action="{% url 'sign_in' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="text" name="pw">
        <input type="submit">
    </form>
    {% endblock %}
    </body}